@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');

@import url("https://rsms.me/inter/inter.css");

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.syne {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.orbitron {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;

}

body {
  background: whitesmoke;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

/* #root {
  width: 100ch;
} */

h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  font-weight: 400;
  line-height: 0.7em;
  letter-spacing: -2px;
  color: #272730;
}

.picker {
  position: absolute !important;
  top: 74px;
  left: 70px;
  width: 90px !important;
  height: 90px !important;
}